n8n/workflows/price-check-manual-webhook.json
{
  "name": "price-check-manual-webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "price-check-manual",
        "responseMode": "responseNode"
      },
      "id": "1",
      "name": "Webhook Manual",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        260,
        300
      ],
      "webhookId": "price-check-manual"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/internal/jobs/check-prices",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-api-key",
              "value": "={{$env.INTERNAL_API_KEY}}"
            }
          ]
        }
      },
      "id": "2",
      "name": "Ejecutar Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        510,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "3",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        760,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Manual": {
      "main": [
        [
          {
            "node": "Ejecutar Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecutar Check": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {}
}
