n8n/workflows/price-check-daily-alerts.json
{
  "name": "price-check-daily-alerts",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * *"
            }
          ]
        },
        "timezone": "Europe/Madrid"
      },
      "id": "1",
      "name": "Cron Diario",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 280]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/internal/jobs/check-prices",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-api-key",
              "value": "={{$env.INTERNAL_API_KEY}}"
            }
          ]
        }
      },
      "id": "2",
      "name": "Ejecutar Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 280]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://backend:8000/internal/alerts/pending",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-api-key",
              "value": "={{$env.INTERNAL_API_KEY}}"
            }
          ]
        },
        "options": {
          "splitIntoItems": true
        }
      },
      "id": "3",
      "name": "Obtener Alertas Pendientes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 280]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "4",
      "name": "Iterar Alertas",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [930, 280]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{`http://backend:8000/internal/alerts/${$json.id}/send-email`}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-api-key",
              "value": "={{$env.INTERNAL_API_KEY}}"
            }
          ]
        }
      },
      "id": "5",
      "name": "Enviar Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1160, 280]
    }
  ],
  "connections": {
    "Cron Diario": {
      "main": [
        [
          {
            "node": "Ejecutar Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecutar Check": {
      "main": [
        [
          {
            "node": "Obtener Alertas Pendientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Alertas Pendientes": {
      "main": [
        [
          {
            "node": "Iterar Alertas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iterar Alertas": {
      "main": [
        [
          {
            "node": "Enviar Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Email": {
      "main": [
        [
          {
            "node": "Iterar Alertas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}
